.add{
    display: flex;
    justify-content: center;
}
.add-form{
    padding-top: 40px;
}

.secondheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 20px;
    background-color: #CCC4B9;
}
.secondlogo {
    object-fit: contain;
    padding-left: 33px;
    width: 5%;
}
.addbookscreen{
    background-image: url("../resources/addbook.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -77px;
}
.group{
    position:relative;
    margin-bottom: 25px;
}
input{
    font-size:18px;
    padding:10px 10px 5px 5px;
    display:block;
    width:300px;
    border:none;
    border-radius: 10px;
}
input:focus{
    outline:none; }
label{
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
    top:-20px;
    font-size:14px;
    color:indigo;
}

/* BOTTOM BARS ================================= */
.bar  {
    position:relative;
    display:block;
    width: 95%;
    margin-left: 7px;
}
.bar:before, .bar:after   {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:indigo;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
.add-button {
    height: 30px;
    width: 316px;
    justify-self: center;
    align-self: center;
    padding: 5px 5px;
}